/* Empty. Add your own CSS if you like */
.menu .bar.bar-header.expanded {
    box-shadow: none;
/*    color: #fff;*/
    min-height: 150px;
    padding: 0px;
}

.has-expanded-header {
    top: 150px !important;
}


.menu .bar-header h2 {
    bottom: 18px;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu-header-content {
    position: absolute;
    bottom: 7px;
    left: 16px;
}
.menu .avatar {
    height: 88px;
    width: 88px;
}

.avatar {
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 56px;
    left: 16px;
    position: absolute;
    width: 56px;
    background: url('../img/profile.jpg'); 
    background-size: cover; 
    border: 2px solid #f0f0f0;
    top: 7px;
}

.menu .bar.bar-header.expanded .side-menu-header-container {
    width: 100%;
    height: 100%;
    background-image: url(../img/material2.jpg);
    background-size: 100% 100%;
}

.menu .bar.bar-header.expanded .side-menu-header-container h2 {
    color:#fff;
}

.menu-item-container {
    padding: 0px;
    height: 50px;
}

.menu-badges-container {
    background-color: #8BC34A;
    height: 100%;
}

.menu-badges-container .itemLabel {
    color: #fff;
    width: 50%;
    height: 100%;
    padding-top: 12px;
    padding-left: 15px;
    float: left;
}

.menu-badges-container .itemBadges {
    width: 50%;
    height: 100%;
    float: left;
}

.menu-badges-container .itemBadges #badge1{
    background: url('../img/badge1.png');
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 1px;
    float: left;
}

.menu-badges-container .itemBadges #badge2{
    background: url('../img/badge2.png');
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 1px;
    float: left;
}

.menu-badges-container .itemBadges #badge3{
    background: url('../img/badge3.png');
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 1px;
    float: left;
}


.menu-coins-container {
    background-color: #00ACC1;
    height: 100%;
}

.menu-coins-container .itemLabel {
    color: #fff;
    width: 50%;
    height: 100%;
    padding-top: 12px;
    padding-left: 15px;
    float: left;
}


.menu-coins-container .itemCoins {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
    color: #fff;
    font-weight: 800;
    font-size: 1.25em;
}

.item i {
    font-size: 21px;
}


/*donuts start*/
.donutArcs:hover {
  opacity: 0.5;
}
.donutArcs {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.monthArc {
		fill: white;
		stroke: #AAAAAA;
	}

	.monthText {
		font-size: 11px;
		font-family:Verdana;
		color:#000;
	}
	.usage-score{
	 font-family: fantasy; 
	 font-size: 35px;
	}
	.usage-score-desc{
	  font-family: Verdana;
	  font-size: 11px;
	}
/*donuts End*/
