/* Empty. Add your own CSS if you like */
.menu .bar.bar-header.expanded {
    box-shadow: none;
/*    color: #fff;*/
    min-height: 150px;
    padding: 0px;
}

.has-expanded-header {
    top: 150px !important;
}


.menu .bar-header h2 {
    bottom: 18px;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu-header-content {
    position: absolute;
    bottom: 7px;
    left: 16px;
}
.menu .avatar {
    height: 88px;
    width: 88px;
}

.avatar {
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 56px;
    left: 16px;
    position: absolute;
    width: 56px;
    background: url('../img/profile.jpg'); 
    background-size: cover; 
    border: 2px solid #f0f0f0;
    top: 7px;
}

.menu .bar.bar-header.expanded .side-menu-header-container {
    width: 100%;
    height: 100%;
    background-image: url(../img/material2.jpg);
    background-size: 100% 100%;
}

.menu .bar.bar-header.expanded .side-menu-header-container h2 {
    color:#fff;
}

.menu-item-container {
    padding: 0px;
    height: 50px;
}

.menu-badges-container {
    background-color: #8BC34A;
    height: 100%;
}

.menu-badges-container .itemLabel {
    color: #fff;
    width: 50%;
    height: 100%;
    padding-top: 12px;
    padding-left: 15px;
    float: left;
}

.menu-badges-container .itemBadges {
    width: 50%;
    height: 100%;
    float: left;
}

.menu-badges-container .itemBadges #badge1{
    background: url('../img/badge1.png');
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 1px;
    float: left;
}

.menu-badges-container .itemBadges #badge2{
    background: url('../img/badge2.png');
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 1px;
    float: left;
}

.menu-badges-container .itemBadges #badge3{
    background: url('../img/badge3.png');
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin-top: 1px;
    float: left;
}


.menu-coins-container {
    background-color: #00ACC1;
    height: 100%;
}

.menu-coins-container .itemLabel {
    color: #fff;
    width: 50%;
    height: 100%;
    padding-top: 12px;
    padding-left: 15px;
    float: left;
}


.menu-coins-container .itemCoins {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
    color: #fff;
    font-weight: 800;
    font-size: 1.25em;
}

.item i {
    font-size: 21px;
}


/*donuts start*/
.donutArcs:hover {
  opacity: 0.5;
}
.donutArcs {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.monthArc {
		fill: white;
		stroke: #AAAAAA;
	}

	.monthText {
		font-size: 11px;
		font-family:Verdana;
		color:#000;
	}
	.usage-score{
	 font-family: fantasy; 
	 font-size: 35px;
	}
	.usage-score-desc{
	  font-family: Verdana;
	  font-size: 11px;
	}
/*donuts End*/

.progress-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    box-shadow: 1px 1px 3px #868686;      
}

.progress-container #myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ee6e73;
}

.progress-container #myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #66BB6A;
}

#myProgress i {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 100;
}

.progress-container #label {
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.my-goal-back-container button {
    font-size: 32px !important;
}

md-content.layout-padding.layout-row {
    padding: 0px;
}

.usage {
    height: 60px;
    font-size: 16px;
    font-weight: 600;
}

.usage .usage-label {
    color: #4A696E;
    width: 70%;
    float: left;
    height: 100%;
    text-align: left;
    padding-left: 10px;
    padding-top: 18px;
}

.usage .usage-figures {
    color: #A0B2B6;
    width: 30%;
    float: left;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 18px;
}

.seperator-div {
    height: 15px;
    background-color: #E2E2E2;
}

.setter {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.setter .setter-label {
    color: #4A696E;
    width: 100%;
    float: left;
    height: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.setter .setter-sub-label {
    color: #A0B2B6;
    width: 80%;
    float: left;
    height: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}

.setter .setter-slide-container {
    margin-top: 95px;
    height: 200px;
}

.setter .setter-savings-label {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: #4A696E;
}

.setter .setter-savings-amount {
    font-size: 76px;
    text-align: center;
    margin-top: 20px;
    color: #4A696E
}

.setter .setter-savings-watts {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin-top: 26px;
    color: #4A696E
}

.goal-button {
    height: 100px;
}

.goal-button button {
    font-weight: 600;
}

.splash-image {
    text-align: center;
    height: 300px;
    vertical-align: middle;
    padding-top: 45px;

}

.splash-image img {
    width: 200px;
}

.splash-green-coins {
    font-size: 76px;
    text-align: center;
    margin-top: 20px;
    color: #4A696E
}
.splash-green-coins-title {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: #4A696E;
    margin-top: 20px;
}

ion-view.pane {
    background-color: #EEEEEE;
}

.splash-goal-container {
    position: fixed;
    bottom: 25px;
    width: 100%;
    border-top: 2px solid #4A696E;
    padding-top: 25px;
}

.splash-goal-message {
    color: #4A696E;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.title.title-left.header-item {
    left: 150px !important;
}

#simulator-graph-container .button-custom,
[class*='button-custom-'] {
  background: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  color: #232323;
  text-transform: lowercase;
  text-decoration: none;
  text-align: left;
  transition: 0.5s linear all;
}
#simulator-graph-container .button-custom:hover,
[class*='button-custom-']:hover {
  background: #50d9ff;
}

#simulator-graph-container .download-wrap {
  perspective: 80rem;
  perspective-origin: 50% 50% 0;
  width: 15rem;
  height: 4rem;
  margin: 0 auto;
}

#simulator-graph-container .download {
  position: relative;
  width: 15rem;
  height: 4rem;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  transform: rotateX(0deg);
  transition: 0.2s linear all;
}
#simulator-graph-container .download.is-active {
  transform: rotateX(90deg) translateZ(2rem);
}
#simulator-graph-container .download.is-active .meter-progress {
  right: 0%;
}

#simulator-graph-container .button-download,
.meter {
  position: relative;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 4rem;
  padding: 0 2rem;
  transform-origin: top center;
}

#simulator-graph-container .meter {
  background: #C41564;
  overflow: hidden;
  transform: rotateX(270deg);
}
#simulator-graph-container .meter:before, .meter:after {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
#simulator-graph-container .meter:before {
  content: 'committing...';
  animation: white-pulse 1s infinite alternate;
}
#simulator-graph-container .meter:after {
  content: 'done!';
  display: none;
  color: #fff;
}
#simulator-graph-container .meter.is-done:before {
  display: none;
}
#simulator-graph-container .meter.is-done:after {
  display: block;
}
#simulator-graph-container .meter .meter-progress {
  display: block;
  width: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2));
  transition: 1s linear all;
}

#simulator-graph-container .icon-wrap {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  width: 4rem;
  padding-top: 1.66rem;
  background: rgba(0, 0, 0, 0.1);
}

#simulator-graph-container .icon-download {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1rem;
  margin: auto;
  border: solid 0.5rem #232323;
  border-top: none;
}
#simulator-graph-container .icon-download:before, .icon-download:after {
  content: '';
  display: block;
  position: absolute;
  animation: icon-bounce .5s infinite alternate;
}
#simulator-graph-container .icon-download:before {
  left: 0.5rem;
  top: -0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  background: #232323;
}
#simulator-graph-container .icon-download:after {
  left: 0.25rem;
  top: -0.125rem;
  width: 0;
  height: 0;
  border-left: solid 0.5rem transparent;
  border-right: solid 0.5rem transparent;
  border-top: solid 0.5rem #232323;
}

@keyframes icon-bounce {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes white-pulse {
  from {
    color: rgba(255, 255, 255, 0.2);
  }
  to {
    color: rgba(255, 255, 255, 0.5);
  }
}
