<% content_for :title do %>two-degrees statistics<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="timestamp" data-view="Number" data-title="Last Block Mined" data-moreinfo="minutes ago" style="background:#f39c12"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="transactions" data-view="Number" data-title="Total Transactions" style="background:#2ecc71"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="blocks" data-view="Number" data-title="Total Blocks" style="background:#3498db"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="size" data-view="Number" data-title="Current Block Size" style="background:#9b59b6" data-moreinfo="bytes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nodes" data-view="Number" data-title="Network" style="background:#34495e" data-moreinfo="nodes"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="difficulty" data-view="Graph" data-title="Current Difficulty" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gasprice" data-view="Number" data-title="Gas Price" data-moreinfo="wei" style="background:#c0392b"></div>
    </li>
  </ul>
</div>
