<ion-view view-title="two&deg;" >
  <ion-content class="has-header">
  
    <div class="card" id="live-graph-container">
        <div class="item item-divider">
            Fuel
        </div>
        <div class="item item-text-wrap">
            <div>The app will leverage Connected Car technology to automatically collect information about fuel consumption. The usage data would be plotted for ongoing, daily, monthly and yearly usage.</div>
        </div>
    </div>
                
  </ion-content>
</ion-view>

