<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">My Goal</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMyGoal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <form ng-submit="setGoal()">
      <div class="list">

        
      <div  ng-cloak="" class="sliderdemoVertical">
        <md-content layout="row" layout-padding="">
         
          <div flex="" layout="column" layout-align="center center">
            <md-slider-container >
              <md-input-container>
              <div class="row">
                <div class="col col-66" style="text-align:left">Last {{lastMonth}} Usage :</div>
                <div class="col">{{lastMonthUtilization}} kWh</div>
              </div>
              <hr/>
              <div class="row">
                <div class="col col-66" style="text-align:left">Your power saving commitment for {{thisMonth}}:</div>
                <div class="col" ><span id="tmp_power_commitment">{{(lastMonthUtilization * master)/100}}</span> kWh</div>
              </div>
              <div class="row">
                <div class="col col-66" style="text-align:left">You will earn :</div>
                <div class="col">{{(lastMonthUtilization*(100-master)/100)*pricePerKwh}} Green Coins </div>
              </div>
              <input type="hidden" id="tmp_percentage_committed" value="{{master}}">
              <!--input flex="" type="number" ng-model="master" aria-label="master" aria-controls="master-slider"-->
              </md-input-container>
              <md-slider flex="" ng-model="master" md-discrete="" aria-label="Master" md-vertical="" step="1" style="width:100%"></md-slider>
              
            </md-slider-container>

          </div>
        </md-content>
      </div>

        


      
        <label class="item">
          <button class="button button-block button-positive" type="submit">Set Goal</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
